{% extends "todo/base.html" %}
{% block content %}
<h2>{% if task %}Edit {% else %} Add{% endif %}Task</h2>
{% if error %}
<div class="alertalert-danger">{{error}}</div>
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" value"{{task.title}}">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <textarea type="text" name="title" class="form-control" value"{{task.description}}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{%url 'todo:task_list'%}" class="btnbtn-secondary">Cancel</a>
</form>
{% endif %}
{% endblock content %}
