{%extends 'base.html'%}
 {%load static%}
 {%block title%}
 Home Page
 {%endblock%}

 {%block content%}
 <h1>Welcome to Home Page</h1>
 <p>This is the content of homeee.......</p>
 <img src={%static 'images/logo.png'%} alt="Logo"/ >
 <form action="POST">
    {% comment %} cross-site-request-forgery {% endcomment %}
    {%csrf_token%}
    <input type="text" name="username" placeholder="Username" >
    <input type="password" name="password" placeholder="Password" >
    {% comment %} <input type="submit" > {% endcomment %}
    <button type="submit">Submit</button>
 </form>
 <button onClick="showAlert()">Click Me</button>
 {%endblock%}
